<section>
    <h1>Administrador de usuarios</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Rol</th>
                    <th>Ultima conexion</th>
                    <th>Controles</th>
                </tr>
            </thead>
            <tbody id="users"></tbody>
        </table>
    </div>
</section>

<script src="js/usersAdmin.js"></script>