<section>
    <form action="/api/users/reset-password" method="POST">
        <h1>Restablecer contraseña</h1>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email"name="email" id="email" required>
        </div>
        <div>
            <label for="token" >Codigo de confirmacion</label>
            <input type="text" name="token" id="token" required>
        </div>
        <div>
            <label for="password">Nueva contraseña</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Restablecer contraseña</button>
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </form>
</section>