<h1>Mi perfil</h1>
<p>Bienvenido!, {{user.name}} {{user.surname}}!</p>
<p>Rol: {{user.rol}}</p>
{{#if this.isAdmin}}
<a href="/realtimeproducts" ><span>Administrador de productos </span></a>
{{/if}}
<form action="/api/users/logout" method="POST">
    <button type="submit">Salir</button>