<div>
    <h1>Gracias por su compra</h1>
    <h3>Revise su mail, para recibir el ticket de compra</h3>
    <div>
        <div>
            <strong>Email del comprador:</strong>
        </div>
        {{#if user}}
        <p title="Id comprador">{{user.email}}</p>
        {{/if}}
    </div>

    <div>
        <div>
            <strong>Orden de compra: </strong>
        </div>
        {{#each ticket}}
        <p title="Orden de compra">{{code}}</p>
        {{/each}}
    </div>
    <div>
        <div>
            <strong>Fecha de compra: </strong>
        </div>
        {{#each ticket}}
        <p title="Orden de compra">{{purchase_datetime}}</p>
        {{/each}}
    </div>
    <div>
        <div>
            <strong>Costo total: </strong>
        </div>
        <span>$</span>
        {{#each ticket}}
        <p title="Orden de compra">{{amount}}</p>
        {{/each}}
    </div>    
</div>