<div>
    <h1>Ingresa los datos de envio</h1>
    <div>
        <div>
            <strong>Id del comprador:</strong>
        </div>
        {{#each ticket}}
        <p title="Id comprador">{{purchaser}}</p>
        {{/each}}
    </div>
    <div>
        <div>
            <strong>Orden de compra numero: </strong>
        </div>
        {{#each ticket}}
        <p title="Orden de compra">{{code}}</p>
        {{/each}}
    </div>
    <div>
        <div>
            <strong>Costo total de la compra: </strong>
        </div>
        <span>$</span>
        {{#each ticket}}
        <p title="Orden de compra" >{{amount}}</p>
        {{/each}}
    </div>
    <div>
        <div>
            <strong>Fecha de la compra: </strong>
        </div>
        {{#each ticket}}
        <p title="Orden de compra" class="text-center">{{purchase_datetime}}</p>
        {{/each}}
    </div>
    <div>
        <form>
            <div>
                <h1>Datos de envio</h1>
            </div>
            <input type="text" id="name" placeholder="Ingresa tu nombre">
            <input type="text" id="city" placeholder="Ingresa la ciudad donde vives">
            <input type="text" id="location"
                placeholder="Ingresa el barrio donde vives">
            <input type="text" id="direction"
                placeholder="Ingresa la direccion donde recibiras tu envio">
            <a href="/pasarela-pago">Metodos de pago</a>
        </form>
    </div>
</div>